{
  "presets": [
    "es2015",
    "stage-3"
  ],
  "ignore": [
    "node_modules"
  ],
   "plugins": [
    //  "async-to-promises",
     ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }]
  ]
}